@font-face {
  font-family: "MoiraiOne-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/MoiraiOne-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
